.App {
  text-align: center;
  text-emphasis-color: #3E3E41;
  text-rendering: auto;
  /* background opacity 50% */
  background-color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 0 1em white;
  box-shadow: 0 0 0.5em #3E3E41;
  background-image: url('./assets/Background.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;

}